<div class="p-4 flex flex-col lg:flex-row" data-controller="timer page-refresh">
  <div class="w-full lg:w-1/2">
    <h1 class="font-bold text-3xl p-1 text-darkBlue">My Basket</h1>
    <% if @basket_items.any? %>
      <% @basket_items.each do |basket_item| %>
        <%= render 'basket_item', basket_item: basket_item %>
      <% end %>

    <% else %>
      <p class="text-center mt-4">Your basket is empty</p>
    <% end %>
    <%= link_to 'Continue Shopping', items_path, class: 'btn-secondary m-2' %>
  </div>

  <div class="w-full lg:w-1/2">
    <h1 class="font-bold text-3xl p-1 text-darkBlue">Checkout</h1>

    <% if @pending_order %>
      <%= render 'pending_order' %>
    <% elsif @basket_items.any? %>
      <div class="bg-slate-50 p-2 m-2 drop-shadow order-summary">
        <%= render 'basket_summary' %>
      </div>
    <% else %>
      <p class="text-center mt-4">No items to checkout</p>
    <% end %>
  </div>
</div>
