<!-- app/views/shared/_flashes.html.erb -->
<div id="flash-messages">
  <% flash.each do |type, message| %>
    <div class="flash-message <%= "flash-#{type}" %> <%= type == 'notice' ? 'flash-notice' : 'flash-alert' %>" data-controller="flash-message">
      <span class="flash-message-text"><%= message %></span>
      <button class="flash-close-btn" data-action="click->flash-message#hideMessage">
        <i class="fas fa-times"></i>
      </button>
    </div>
  <% end %>
</div>
