<div class="flex justify-around bottom-0 w-full shadow-sm p-6 bg-blue-500 text-white text-sm">
  <div>
    <p>Permess House, Princess Way,</p>
    <p>Prudhoe, NE42 6HD</p>
    <%# &nbsp; %>
    <p><span class="font-bold">Tel:</span> 01661836717</p>
    <p><span class="font-bold">Mob:</span> 07710714217</p>
  </div>

  <div>
    <p>St Nicholas Street,</p>
    <p>Carlisle, CA1 2EF</p>
    <%# &nbsp; %>
    <p><span class="font-bold">Tel:</span> 01228544822</p>
  </div>
</div>