<div>
  <div 
    class="bg-center w-full h-[400px] bg-cover flex items-center justify-center"
    style="background-image: url('<%= asset_path('home-bg-img.avif') %>');"
  >
    <h1 class="text-blue-800 text-4xl font-bold drop-shadow-sm">
      Surplus Stock Shop  
    </h1>
  </div>

  <div>
  </div>
</div>
