<div>
  <div 
    class="bg-center w-full h-[400px] bg-cover flex items-center justify-center"
    style="background-image: url('<%= asset_path('home-bg-img.jpeg') %>');"
  >
    <div class="flex-col justify-items-center">
      <h1 class="text-darkBlue text-4xl font-bold drop-shadow-sm">
        Surplus Stock Shop  
      </h1>

      <%= form_with url: items_path, method: :get, local: true do %>
        <div class="flex items-center">
          <%= text_field_tag :query, params[:query], placeholder: "What are you looking for?", class: "input-class mt-5 w-64" %>
          <%= submit_tag "Search", class: "btn-primary mt-5 ml-2 inline-block" %>
        </div>
      <% end %>
    </div>
  </div>
    
  <div class="flex-col items-center justify-items-center py-4 px-5">
    <h1 class="text-darkBlue text-3xl font-bold drop-shadow-sm text-center">
      About us
    </h1>
    <p class="max-w-[800px] py-2 text-center">
      We specialise in offering high-quality furniture at unbeatable prices. 
      From comfortable beds and mattresses to stylish sofas, we provide everything you need to 
      furnish your home without breaking the bank. Our goal is to make quality furniture accessible 
      to everyone, with a focus on affordability and customer satisfaction.
      <br>
      <br>
      We are committed to providing affordable, stylish furniture for homes across the region, <%# North East and Cumbria %>
      and our reliable delivery service ensures that your purchases reach you with ease. Whether you're furnishing 
      a new home or updating your space, we have something for every need and budget. Visit us today and discover 
      the perfect pieces for your home at unbeatable prices.
    </p>
  </div>
</div>
