<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full">
  <% @items.each do |item| %>
    <%= link_to item_path(item, query: params[:query]) do %>
    <div class="flex flex-col max-w-65 bg-slate-50 drop-shadow transform transition-transform hover:scale-105">
      <% if item.image_url.present? %>
      <%= image_tag item.image_url, 
        class: "object-cover mx-2 mt-2 hover:brightness-125 transition-all", 
        loading: "lazy" 
      %>
      <% else %>
        <div class="w-full h-48 bg-gray-200 mx-2 mt-2"></div>
      <% end %>
      <div class="px-2 py-1">
        <p><%= item.name %></p>
        <p>£<%= item.price %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
