<div class="p-4">
  <div class="flex flex-col">
    <h1 class="font-bold text-3xl">All products</h1>
    <p>Results</p>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
        <div class="flex flex-col max-w-65 bg-slate-50 drop-shadow">
          <img src="<%= item.image_url %>" class="object-cover mx-2 mt-2"/>
          <div class="px-2 py-1">
            <p>
              <%= item.name %>
            </p>
            <p>
              £<%= item.price.round(0) %>
            </p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
