<div class="p-4 flex justify-center items-center">
  <div class="flex flex-col lg:flex-row justify-center items-stretch w-full max-w-screen-lg">
    <div class="w-full lg:w-2/5 flex justify-center p-2">
      <img src="<%= @item.image_url %>" class="w-auto h-auto max-h-screen object-contain">
    </div>
    
    <div class="w-full lg:w-2/5 flex flex-col p-2 mx-auto lg:mx-0">
      <%= render 'item_details' %>

      <div class="mt-auto">
        <% if params[:query].present? %>
          <%= link_to "Back to all results", items_path(query: params[:query]), class: 'hover:text-lighterBlue' %>
        <% else %>
          <%= link_to "Back to all results", items_path, class: 'hover:text-lighterBlue' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
