@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-background text-primaryText overflow-x-hidden;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn-primary.opacity-50 {
  pointer-events: none;
}

/* Flash message container */
#flash-messages {
  @apply fixed bottom-5 right-5 z-50;
}

.flash-message {
  @apply p-4 rounded-lg text-white transition-all duration-500 ease-out max-w-xs flex items-center justify-between opacity-100;
}

.flash-notice {
  @apply bg-green-500;
}

.flash-alert {
  @apply bg-red-500;
}

/* Close button styling */
.flash-close-btn {
  @apply text-white bg-transparent border-0 cursor-pointer ml-4;
}

/* Fade out the message and prevent interaction after it's hidden */
.flash-message.hidden {
  @apply opacity-0 pointer-events-none;
}


@layer components {
  .btn-primary {
    @apply bg-darkBlue text-background py-2 px-6 rounded-sm text-lg font-semibold hover:bg-lighterBlue transition-all inline-flex items-center justify-center cursor-pointer;
  }

  .btn-secondary {
    @apply bg-darkBlue text-background py-1 px-3 rounded-sm text-sm font-medium hover:bg-lighterBlue transition-all inline-flex items-center justify-center cursor-pointer;
  }

  .btn-tertiary {
    @apply bg-red-700 text-background py-1 px-3 rounded-sm text-sm font-medium hover:bg-red-400 transition-all inline-flex items-center justify-center cursor-pointer;
  }

  .input-class {
    @apply px-4 py-2 border rounded-sm text-secondaryText focus:outline-none focus:ring-2 focus:ring-darkBlue;
  }

  .filter-tile {
    @apply bg-gray-200 text-primaryText px-4 py-2 rounded-sm text-center font-medium cursor-pointer transition-all flex-shrink-0;
  }
  .filter-tile:hover {
    @apply bg-gray-300;
  }
  .filter-tile.active {
    @apply bg-darkBlue text-background;
  }
  .overflow-x-auto {
    @apply flex-nowrap overflow-x-scroll no-scrollbar;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
  }
}
