<div class="p-4 flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/2">
    <h1 class="font-bold text-3xl p-1 text-darkBlue">My Wishlist</h1>
    <% if @wishlist_items.any? %>
      <% @wishlist_items.each do |wishlist_item| %>
        <%= render 'wishlist_item', wishlist_item: wishlist_item %>
      <% end %>

    <% else %>
      <p class="text-center mt-4">Your Wishlist is empty</p>
    <% end %>
    <%= link_to 'Continue Shopping', items_path, class: 'btn-secondary m-2' %>
  </div>

  <div class="w-full lg:w-1/2">
    <h1 class="font-bold text-3xl p-1 text-darkBlue">Another section</h1>
  </div>
</div>